@page
@model RazorPagesInz.Pages.AboutMeModel
@{
    ViewData["Title"] = "O mnie...";
}
<h1>O mnie...</h1>

<address>
    Projekt został zrealizowany na potrzeby pracy inżynierskiej na kierunku Informatyka Stosowana, WIMiIP, AGH.
</address>

<address>
    <strong>Autor:</strong> Mateusz Nogieć<br />
    <strong>Kontakt:</strong> <a href="mailto:ashajro@gmail.com">ashajro@gmail.com</a><br />

</address>
